/* VARIABLES */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arya", "Roboto", sans-serif;
  min-height: 100vh;
  flex-direction: column;
}

img {
  width: 100%;
}

/* BURGER MENU */
.burger-menu-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #63987C;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.09);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  box-sizing: border-box;
}

.burger-menu-overlay.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.container-form-page {
  width: 30rem;
  margin: auto;
}
.container-form-page .form-heading {
  text-align: center;
  color: #EBCC5E;
}
.container-form-page .p-white {
  color: #fff;
}
.container-form-page .form {
  border: 10px solid #EBCC5E;
  border-radius: 0.4rem;
  background-color: white;
}
.container-form-page .form .form-group {
  font-size: 1.3rem;
}
.container-form-page .form input {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  font-size: 1.3rem;
  color: #686565;
}
.container-form-page .form .error {
  font-size: 0.9rem;
  color: brown;
}
.container-form-page .primary-btn {
  font-size: 1.3rem;
}
@media screen and (max-width: 450px) {
  .container-form-page {
    width: 100%;
  }
}

header {
  height: 6rem;
  width: 100%;
  background-color: #63987C;
}
header a {
  text-decoration: none;
  color: #fff;
}
header .logo {
  width: 6%;
  margin-right: 0.5rem;
}
header .logo-tx {
  font-size: 26px;
}
header .nav-labels {
  list-style: none;
}
header .nav-labels a {
  margin-left: 3rem;
  font-size: 1.3rem;
}
header .nav-labels a:hover {
  color: #EBCC5E;
}
header .nav-labels a.active {
  color: #EBCC5E;
}
header .burger-menu-labels {
  list-style: none;
}
header .burger-menu-labels a {
  font-size: 2.3rem;
}

header.admin {
  display: flex;
  justify-content: center;
  height: 6rem;
  background-color: #21374B;
  width: 100vw;
  color: white;
  align-items: center;
}

nav.admin {
  height: 4rem;
  display: flex;
  background-color: #EBCC5E;
}
nav.admin button {
  background-color: transparent;
  color: #21374B;
}
nav.admin button a {
  text-transform: uppercase;
  color: #21374B;
}

.main-content {
  min-height: 90vh;
}

.login-page, .sign-up-page {
  background-color: #63987C;
}

.primary-btn {
  background-color: #EBCC5E;
  padding: 0.5rem 4rem;
  border-radius: 0.4rem;
  color: #000000;
  text-decoration: none;
}
.primary-btn:hover {
  color: #fff;
}

.secondary-btn {
  color: #EBCC5E;
  text-decoration: none;
}
.secondary-btn:hover {
  color: #fff;
}

/* COLLAPSIBLE SIDEBAR */
#mySidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 6rem;
  left: -24px;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 30px;
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
}
#mySidebar ul li {
  list-style: none;
}
#mySidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #111;
}
@media screen and (max-height: 450px) {
  #mySidebar {
    padding-top: 15px;
  }
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #f8f5f5;
}

#main-sidebar {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* STATIC SIDEBAR */
.sidebar-desktop {
  border-right: 1px solid #e7e7e7;
}
.sidebar-desktop ul {
  list-style: none;
  padding-left: 1rem;
}
.sidebar-desktop ul li {
  color: #111;
  font-size: 0.9rem;
  border-bottom: 1px solid #e7e7e7;
  width: 96%;
}
.sidebar-desktop ul li:hover {
  color: brown;
}

.myModal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  overflow: hidden;
}
.myModal .overlay {
  background-color: #00000073;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}
.myModal .myMessage {
  position: absolute;
  top: 30vh;
  left: 40vw;
  background-color: white;
  padding: 40px;
  z-index: 999;
}

.footer {
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
  background-color: #63987C;
}

.index-page {
  background-color: #63987C;
}
.index-page .hero-banner {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.index-page .hero-banner .header-1 {
  color: #EBCC5E;
  font-size: 4.5rem;
  line-height: 5rem;
}
.index-page .hero-banner .txt {
  color: #fff;
  font-size: 1.3rem;
}

/* @import "templates/login-page"; */

/*# sourceMappingURL=main.css.map */
