/* VARIABLES */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arya", "Roboto", sans-serif;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arya";
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

/* BURGER MENU */
.burger-menu-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #63987C;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.09);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  box-sizing: border-box;
}

.burger-menu-overlay.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/* BURGER MENU END */
.main-content {
  min-height: 90vh;
}

.container-form-page {
  width: 30rem;
  margin: auto;
}
.container-form-page .form-heading {
  text-align: center;
  color: #EBCC5E;
}
.container-form-page .p-white {
  color: #fff;
}
.container-form-page .form {
  border: 10px solid #EBCC5E;
  border-radius: 0.4rem;
  background-color: white;
}
.container-form-page .form .form-group {
  font-size: 1.3rem;
}
.container-form-page .form input {
  border: none;
  border-bottom: 1px solid #37474F;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  font-size: 1.3rem;
  color: #686565;
}
.container-form-page .form .error {
  font-size: 0.9rem;
  color: brown;
}
.container-form-page .primary-btn {
  font-size: 1.3rem;
}
@media screen and (max-width: 450px) {
  .container-form-page {
    width: 100%;
  }
}

header {
  height: 6rem;
  width: 100%;
  background-color: #63987C;
}
header a {
  text-decoration: none;
  color: #fff;
}
header .logo {
  width: 6%;
  margin-right: 0.5rem;
}
header .logo-tx {
  font-size: 26px;
}
header .nav-labels {
  list-style: none;
}
header .nav-labels a {
  margin-left: 3rem;
  font-size: 1.3rem;
}
header .nav-labels a:hover {
  color: #EBCC5E;
}
header .nav-labels a.active {
  color: #EBCC5E;
}
header .menu-icon {
  cursor: pointer;
}
header .burger-menu-labels {
  list-style: none;
}
header .burger-menu-labels a {
  font-size: 2.3rem;
}

header.admin {
  display: flex;
  justify-content: center;
  height: 6rem;
  background-color: #21374B;
  width: 100vw;
  color: white;
  align-items: center;
}

nav.admin {
  height: 4rem;
  display: flex;
  background-color: #EBCC5E;
}
nav.admin button {
  background-color: transparent;
  color: #21374B;
}
nav.admin button a {
  text-transform: uppercase;
  color: #21374B;
}

.primary-btn {
  background-color: #EBCC5E;
  padding: 0.5rem 4rem;
  border-radius: 0.4rem;
  color: #37474F;
  text-decoration: none;
}
.primary-btn:hover {
  color: #fff;
}

.secondary-btn {
  color: #37474F;
  text-decoration: none;
}
.secondary-btn:hover {
  color: #EBCC5E;
}

/* COLLAPSIBLE SIDEBAR */
#mySidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 6rem;
  left: -24px;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 30px;
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
}
#mySidebar ul li {
  list-style: none;
}
#mySidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  color: #111;
}
@media screen and (max-height: 450px) {
  #mySidebar {
    padding-top: 15px;
  }
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #f8f5f5;
}

#main-sidebar {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* STATIC SIDEBAR */
.sidebar-desktop {
  border-right: 1px solid #e7e7e7;
}
.sidebar-desktop ul {
  list-style: none;
  padding-left: 1rem;
  cursor: pointer;
}
.sidebar-desktop ul li {
  color: #111;
  font-size: 1.4rem;
  border-bottom: 1px solid #e7e7e7;
  width: 96%;
}
.sidebar-desktop ul li:hover {
  color: #63987C;
}

.d-none-desktop {
  display: none;
}

.d-none-mobile {
  display: block;
}

@media screen and (max-width: 450px) {
  .d-none-desktop {
    display: block;
  }

  .d-none-mobile {
    display: none;
  }
}
.myModal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  overflow: hidden;
}
.myModal .overlay {
  background-color: #00000073;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}
.myModal .myMessage {
  position: absolute;
  top: 30vh;
  left: 40vw;
  background-color: white;
  padding: 40px;
  z-index: 999;
}

.footer {
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
  background-color: #63987C;
}

.index-page .hero-banner {
  background-color: #63987C;
}
.index-page .hero-banner-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.index-page .header-1 {
  color: #EBCC5E;
  font-size: 4.5rem;
  line-height: 5rem;
}
.index-page .txt {
  color: #fff;
  font-size: 1.3rem;
}
.index-page .hero-image img {
  width: 80%;
}
.index-page .grid-header {
  font-size: 4rem;
  color: #63987C;
}
.index-page .categories-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.index-page .category-cta {
  text-decoration: none;
  color: #37474F;
  transition: 0.2s;
}
.index-page .category-cta:hover {
  color: #63987C;
}
.index-page .category-item {
  box-shadow: -1px 2px 8px 0px rgba(184, 184, 184, 0.48);
  -webkit-box-shadow: -1px 2px 8px 0px rgba(184, 184, 184, 0.48);
  -moz-box-shadow: -1px 2px 8px 0px rgba(184, 184, 184, 0.48);
  border-radius: 1rem;
  overflow: hidden;
}
.index-page .text-wrapper {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .index-page .header-1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .index-page .grid-header {
    font-size: 3rem;
  }
  .index-page .categories-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .index-page .hero-banner-wrapper {
    grid-template-columns: auto;
    grid-gap: 4rem;
  }
  .index-page .categories-wrapper {
    grid-template-columns: auto;
    gap: 2rem;
  }
  .index-page .category-item {
    width: 80%;
    margin: auto;
  }
}

body.overview-page .category-title, .blog-page .category-title {
  color: #63987C;
}
body.overview-page .article-a, .blog-page .article-a {
  text-decoration: none;
  color: #37474F;
  transition: 0.2s;
}
body.overview-page .article-a:hover article, .blog-page .article-a:hover article {
  background-color: #f3f7f7ad;
}
body.overview-page .article-name, .blog-page .article-name {
  display: flex;
  align-items: center;
  color: #37474F;
}
body.overview-page .article-name::before, .blog-page .article-name::before {
  float: left;
  content: "";
  background-image: url(/media/icons/green-arrow.svg);
  background-size: cover;
  width: 16px;
  height: 14px;
  margin-right: 0.4rem;
}
body.overview-page .article-description, .blog-page .article-description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body.article-page .article-img {
  height: 20rem;
  object-fit: cover;
}
body.article-page .user-avatar {
  background-color: #63987C;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* @import "templates/login-page"; */

/*# sourceMappingURL=main.css.map */
