header {
  // display: flex;
  // justify-content: center;
  height: $header-height;
  width: 100%;
  background-color: $primary-color;


  a{
    text-decoration: none;
    color: $white;
  }

  .logo{
    width: 6%;
    margin-right: .5rem;
  }

  .logo-tx{
    font-size: 26px;
  }

  .nav-labels{
    list-style: none;
    
    a{
      margin-left: 3rem;
      font-size: 1.3rem;
      &:hover{
        color: $secondary-color;
      }
    }

    a.active{
      color: $secondary-color;
    }
  }

  .burger-menu-labels{
    list-style: none;
    a{
      font-size: 2.3rem;
    }
  }

}




header.admin{
  display: flex;
  justify-content: center;
  height: 6rem;
  background-color: $secondary-color-dark;
  width: 100vw;
  color: white;
  align-items: center;

}

nav.admin{
  height: 4rem;
  display: flex;
  background-color: $secondary-color;

  button{
    background-color: transparent;
    color: #21374B;

    a{
      text-transform: uppercase;
      color: #21374B;
    }
  }
}

