//VARIABLES

$primary-color: #25594B;
$secondary-color: #EBCC5E;
$white: #fff;
$black: #000000;
$big-header: 4.5rem;
$line-height-big-header: 5rem;


$secondary-color-dark: #21374B;
$secondary-color-orange: #F7941D;
$accent-color: rgb(245, 245, 245);
$bg-color-nav: #063574;
$logo-width: 30%;
$error-color: brown;
$form-font-size: 0.8rem;
$btn-main-bg-color: #f3d078;
$btn-border-color: 1px solid #8f8d8d;
$btn-box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
$input-focus: 1.5px solid $btn-main-bg-color;
$line-color: 1px #ddd solid;
$input-btn-height: 31px;
$a-color: #0066c0;
$a-hover: $error-color;
$body-color: #111;
$header-height: 6rem;
$sidebar-line-color: 1px solid#e7e7e7;

